img {
  width: 12em;
  height: 12em;
  border-radius: 1em;
  margin: 2em;
}

img:hover {
  border: solid 0.2em red;
  cursor: pointer;
}

.rendered-movies {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
}
